<%-include("partials/header")-%>


<h1>Compose</h1>  

<form class="coposecont"  action="/compose" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input name="fName" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input name="lName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">About</label>
        <input name="aboutU" type="text" class="form-control" id="exampleInputEmail1" placeholder="About Your Self" >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email ID</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Mail ID" >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">password</label>
        <input name="passtext" type="text" class="form-control" id="exampleInputEmail1" placeholder="Password" >
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input name="postTitel" type="text" class="form-control" id="exampleInputEmail1" placeholder="Titel" >
    </div>
        <label for="exampleInputEmail1" class="form-label">Post</label>
    <div class="form-floating">
        <textarea name="postCont" class="form-control" placeholder="Post" id="floatingTextarea2" style="height: 150px"></textarea>
    </div>
        <input id="submit" type="submit" value="Publish" name="publish" class="btn btn-primary" disabled="disabled">
</form>

<%-include("partials/footer")-%>